* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  height: fit-content;
  position: relative;
  background-color: #e5e5e5;
  color: #fff;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  background: #fff;
  background-image: linear-gradient(
    to bottom,
    #000000,
    #20080e,
    #350b13,
    #4c0714,
    #620210,
    #620210,
    #620210,
    #620210,
    #4c0714,
    #350b13,
    #20080e,
    #000000
  );
}
.navbar {
  position: fixed;
  top: 1.5px;
  left: 0;
  width: 100%;
  height: 45px;
  color: var(--tc);
  background: var(--bg);
  padding: 0.5px 0px 0.5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  border-radius: 4px;
}

a > span {
  position: relative;
  display: block;
  cursor: pointer;
}

a > span:before,
a > span:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  top: 80%;
  margin-top: -0.5px;
  background: #fff;
}

a > span:before {
  left: -2.5px;
}
a > span:after {
  right: 2.5px;
  background: #fff;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

a > span:hover:before {
  background: #fff;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

a > span:hover:after {
  background: transparent;
  width: 50%;
  transition: 0s;
}

.brand {
  font-size: 0.82rem;
  text-transform: uppercase;
  font: weight 300px;
}
#menuToggle {
  display: block;
  position: fixed;
  top: 10px;
  right: 10px;

  z-index: 2;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #ededed;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: #ededed;
}

#menuToggle input {
  display: block;
  width: 33px;
  height: 30px;
  position: absolute;
  cursor: pointer;

  opacity: 0;
  z-index: 4;

  -webkit-touch-callout: none;
}

#menuToggle > span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #e5e5e5;
  border-radius: 3px;

  z-index: 2;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #ff3b3f;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  top: 45px;
  position: absolute;
  width: 300px;
  margin: -80px 0 0 -240px;
  padding: 50px;
  padding-top: 125px;
  height: 160vh;
  background: var(--bg);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(160%, 0%);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.social-media {
  line-height: 90px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

.page-content {
  display: flex;
  padding: 0 15px;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.page-section {
  padding: 50px 10vw;
  width: calc(100%-4px);
  height: 100%;
  /* background: linear-gradient(
    to bottom,
    #5a0013,
    #580116,
    #550218,
    #53031a,
    #50041c
  ); */
  overflow-x: visible;
}

.home-image {
  width: 400px;
  display: none;
  /* border: 0.5px solid #000000; */
  border-radius: 40%;
  box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.75);
}

p,
.about-para,
.left-col::before,
.tags {
  font-size: 1.4rem;
}
.page-intro {
  padding: 1.2rem;
  text-align: center;
}

.heading {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 500;
  text-align: center;
}

.highlight {
  color: #ff3b3f;
}
.sub-heading {
  width: fit-content;
  display: block;
  margin: 10px 10px 20px 10px;
  margin-left: auto;
  text-transform: capitalize;
  position: relative;
  color: #1d1d1d;
  z-index: 1;
  padding: 10px 20px;
}

.sub-heading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f3eed9;
  z-index: -1;
  transform: skew(10deg);
}

.sub-heading::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100px;
  width: 100px;
  height: 2px;
  background: #f3eed9;
}

.btn {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 50px;
  background: var(--bg);
  color: var(--tc);
  text-transform: capitalize;
  border: none;
  margin-bottom: 10px !important;
}

/* about section */
.about {
  width: calc(100%-4px);
  padding: 50px 10vw;
  font-size: small;
  /* background-image: linear-gradient(
    to bottom,
    #50041c,
    #4b0720,
    #450a23,
    #3e0d25,
    #380f26
  ); */
  /* color: var(--tc); */
}

.heading {
  text-align: center;
  font-weight: 500;
  font-size: 3.5rem;
  text-transform: capitalize;
}

.about-image {
  width: 100%;
  border-radius: 5%;
  /* box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25); */
}

.about-para {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 35px;
  margin-bottom: 40px;
  margin-top: 10px;
}

/* projects section */

.projects-section {
  padding: 50px 10vw;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding-top: 100px;
  align-items: center;
  color: var(--tc);
  /* background-image: linear-gradient(
    to bottom,
    #271424,
    #231422,
    #201421,
    #1d141e,
    #1a141c
  ); */
}

.project-container {
  position: relative;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.project-card {
  flex-direction: column;
  display: flex;
  background: #090909;
  min-width: 300px;
  width: 85vw;
  min-height: 250px;
  border-radius: 10px;
  border: 1px solid #464646;

  border-radius: 10px;
  box-shadow: -1px -18px 45px 7px rgba(0, 0, 0, 0.88);
  -webkit-box-shadow: -1px -18px 45px 7px rgba(0, 0, 0, 0.88);
  transition: 0.3s;
  --distance: -150px;
  color: #565656;
}

.project-card:not(:first-child) {
  margin-top: var(--distance);
}

.project-card:hover ~ .project-card,
.project-card:focus-within ~ .project-card {
  transform: translateY(calc((var(--distance)) * -1));
}

.project {
  text-align: center;
  font-size: 1.6rem;
  color: #565656;
  line-height: 50px;
}
.project-tags {
  font-family: Consolas;
  display: flex;
  justify-content: center;
}

.project-tag {
  border: 1px solid #565656;
  margin-right: 0.2em;
  width: 50px;
  border-radius: 4px;
  text-align: center;
  text-transform: lowercase;
  font-size: x-small;
}

.space {
  right: 2px;
}

.project-card:hover {
  background: #000000;
}
.project-card span {
  color: var(--tc);
}

.project-year {
  font-size: xx-small;
  text-align: end;
  padding-right: 2em;
  padding-top: 1em;
}
.project-description {
  font-size: 0.82rem;
  text-align: center;
  padding: 1rem 2rem;
  height: 120px;
}
.project-card:hover .project,
.project-card:hover .project-description {
  color: #707070;
}

.project-card:hover .project-tag {
  border: 1px solid var(--tc);
  color: var(--tc);
}
.link-holder {
  padding: 10px 20px;
  text-align: end;
  bottom: 0;
}
.project-link {
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid #565656;
  border-radius: 10px;
  text-transform: lowercase;
  font-size: x-small;
  color: var(--tc);
  bottom: 10px;
}

.project-link:hover {
  border: 1px solid #fff;
  color: #d3d3d3;
}

/* Skills Section */
.skill-section {
  margin: 2px;
  padding: 50px 10vw;
  margin-top: 100px;
  /* background-image: linear-gradient(
    to bottom,
    #380f26,
    #341126,
    #2f1226,
    #2b1325,
    #271424
  ); */
}
.skills {
  font-family: Consolas;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  justify-content: space-between;
}

.skill {
  margin-top: 2em;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.77);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: max-content;
  width: 100%;
  border-radius: 10px;
  text-transform: lowercase;
  font-size: x-small;
  display: flex;
}
.skill > p {
  color: #fff;
  padding: 10px;
  text-align: justify;
  width: 100%;
  padding-left: 38px;
  border-radius: 0 10px 10px 0;
}

.skill > img {
  width: 48px;
  height: 48px;
  border: 1px solid var(--grad);
  background: var(--grad);
  border-radius: 10px 0 0 10px;
  /* filter: grayscale(100%); */
}

/* Contact Section */
.contact-section {
  padding: 50px 10vw;
  background-image: linear-gradient(
    to bottom,
    #370b13,
    #400914,
    #480714,
    #510414,
    #5a0013
  );
  /* background-image: linear-gradient(
    to bottom,
    #1a141c,
    #181219,
    #161017,
    #130e14,
    #100c11
  ); */

  margin-top: 100px;
}
.contact-form {
  margin: 10px;
  margin-top: 100px;
  position: relative;
}

.contact-form input,
.message {
  width: 100%;
  display: block;
  height: 50px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #fff !important;
  background: #000;
  color: #fff;
  border: none;
  outline: none;
  margin: 30px 0;
  text-transform: capitalize;
  resize: none;
}

.message {
  height: 200px;

  border: 1px solid #fff;
}

.contact-form .name {
  display: flex;
  justify-content: space-between;
}

.name input {
  width: 49%;
  margin: 0;
}

.email {
  text-transform: lowercase !important;
}

.contact-form .btn {
  display: block;
  margin: auto;
  cursor: pointer;
}
.contact-btn {
  width: fit-content !important;
  background-color: #fc5562 !important;
}

/* Footer */

.footer {
  width: 100%;
  height: 30px;
  text-transform: capitalize;
  text-align: center;
  background-color: #5a0013;
  line-height: 30px;
  color: #e5e5e5;
  font-size: xx-small;
}
