* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  height: fit-content;
  position: relative;
  background-color: #e5e5e5;
  color: #fff;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  background: #fff;
  background-image: linear-gradient(
    to bottom,
    #000,
    #20080e,
    #350b13,
    #4c0714,
    #620210,
    #620210,
    #620210,
    #620210,
    #4c0714,
    #350b13,
    #20080e,
    #000
  );
}
.navbar {
  position: fixed;
  top: 1.5px;
  left: 0;
  width: 100%;
  height: 45px;
  color: var(--tc);
  background: var(--bg);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  border-radius: 4px;
}
a > span {
  position: relative;
  display: block;
  cursor: pointer;
}
a > span:after,
a > span:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  top: 80%;
  margin-top: 2px;
  background: #fff;
}
a > span:before {
  left: -2.5px;
}
a > span:after {
  right: 2.5px;
  background: #fff;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
a > span:hover:before {
  background: #ff3b3f;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
a > span:hover:after {
  background: 0 0;
  width: 50%;
  transition: 0s;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  color: #fff;
  background: #000;
  padding: 0 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
#checkbox {
  display: none;
}
#menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  width: 500px;
}
.menu-item {
  text-transform: capitalize;
  width: 50px;
  text-decoration: none;
  width: 100px;
  position: relative;
}
#menu span {
  width: 110px;
  padding: 10px;
  color: #d1d1d1;
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
}
#menu > span:active {
  background: #ff3b3f;
}
.menu-item:hover:not(.active) {
  opacity: 0.8;
  color: #fff;
}
.menu-item.active::before,
.separator::before {
  content: " ";
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
}
.menu-item.active::after,
.separator::after {
  content: " ";
  position: absolute;
  margin-top: 2px;
  left: 0;
  width: 50%;
  height: 1px;
  background-color: #fff;
}
.fa {
  border-radius: 50%;
  text-decoration: none;
  height: 45px;
  width: 45px;
  margin: 10px;
}
.fa:hover {
  opacity: 0.7;
}
.fa-linkedin {
  background: #007bb5;
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding: 15px;
}
.fa-github {
  background: #fff;
  color: #000;
  text-align: center;
  font-size: 35px;
}
#menuToggle input:checked ~ ul {
  transform: none;
}
.page-content {
  display: flex;
  padding: 0 15px;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.page-section {
  margin-top: 100px;
  padding: 60px 10vw;
  width: calc(100%-4px);
}
.page-section h1 {
  font-size: 5.5rem;
}
.home-image {
  width: 40%;
  border-radius: 50%;
  margin: 20px;
}
.about-para,
.left-col::before,
p {
  font-size: 1.5rem;
}
.page-intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 75px;
}
.heading {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 500;
  text-align: center;
}
.highlight {
  color: #ff3b3f;
}
.home-sub-heading {
  width: fit-content;
  display: block;
  font-size: medium;
  margin: 5px 10px;
  margin-left: auto;
  text-transform: capitalize;
  position: relative;
  color: #1d1d1d;
  z-index: 1;
  padding: 10px 20px;
}
.home-sub-heading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f3eed9;
  z-index: -1;
  transform: skew(10deg);
}
.home-sub-heading::after {
  content: "";
  position: absolute;
  top: 0;
  left: -300px;
  width: 300px;
  height: 1px;
  background: #f3eed9;
}
.sub-heading {
  text-align: center;
  font-size: 1rem;
  margin: 10px 0 0 0;
  opacity: 0.7;
}
.separator {
  width: 25%;
  margin: 20px auto;
  position: relative;
}
.separator::before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
}
.separator::after {
  content: " ";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.home-btn {
  align-self: center;
  position: absolute;
  padding-top: 100px;
}
.btn {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 50px;
  background: #000;
  color: #fff;
  text-transform: capitalize;
  border: none;
}
.about {
  width: calc(100%-4px);
  padding: 50px 10vw;
}
.heading {
  text-align: center;
  font-weight: 500;
  font-size: 3.5rem;
  text-transform: capitalize;
}
.about-image {
  width: 100%;
  border-radius: 5%;
}
.about-para {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 35px;
  margin-bottom: 40px;
  margin-top: 10px;
}
.about-me-container {
  margin: 150px 0 100px;
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 50px;
}
.projects-section {
  padding: 50px 1vw;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  align-items: center;
  color: var(--tc);
}

.project-container {
  width: 80vw;
  padding: 1rem;
  position: relative;
  margin-top: 50px;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0.62em;
  justify-content: center;
}
.project-container::-webkit-scrollbar {
  display: none;
}
.project-card {
  width: max-content;
  flex-direction: column;
  display: flex;
  background: #090909;
  min-height: 250px;
  border-radius: 10px;
  border: 1px solid #464646;
  position: relative;
  border-radius: 10px;
  box-shadow: -1px -18px 45px 7px rgba(0, 0, 0, 0.88);
  -webkit-box-shadow: -1px -18px 45px 7px rgba(0, 0, 0, 0.88);
  transition: 0.3s;
  --distance: -200px;
  color: #565656;
}

.project {
  text-align: center;
  font-size: 1.6rem;
  color: #565656;
}
.project-tags {
  font-family: Consolas;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.project-tag {
  border: 1px solid #565656;
  margin-right: 0.2em;
  width: 50px;
  height: max-content;
  border-radius: 4px;
  text-align: center;
  text-transform: lowercase;
  font-size: x-small;
  align-self: baseline;
}

.project-card:hover {
  background: #000000;
}
.project-card span {
  color: var(--tc);
}

.project-year {
  font-size: x-small;
  text-align: end;
  padding-right: 2em;
  padding-top: 1em;
}
.project-description {
  font-size: 0.82rem;
  text-align: center;
  padding: 1rem 2rem;
  height: 120px;
  max-width: 300px;
  margin: auto;
}
.project-card:hover .project,
.project-card:hover .project-description {
  color: #d6d6d6;
}

.project-card:hover .project-tag {
  border: 1px solid #5e5e5e;
  color: #fff;
}
.link-holder {
  padding: 10px 20px;
  text-align: end;
  bottom: 0;
}
.project-link {
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid #565656;
  border-radius: 10px;
  text-transform: lowercase;
  font-size: x-small;
  color: var(--tc);
  bottom: 10px;
}

.project-link:hover {
  border: 1px solid #fff;
  color: #d3d3d3;
}

.project-link:hover .project-card {
  background-color: rgba(0, 0, 0, 0.589);
}
.skill-section {
  margin: 2px;
  padding: 50px 10vw;
}
.skills {
  padding-top: 100px;
  font-family: Consolas;
  display: grid;
  grid-gap: 0.62em;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.skill {
  height: max-content;
  width: 150px;
  text-transform: lowercase;
  font-size: small;
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  background: #430914;
}
.skill > p {
  color: #fff;
  text-align: justify;
  margin: 10px;
}
.skill > img {
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0);
  margin: 1em;
  width: 100px;
  height: 100px;
  border: 1px solid var(--grad);
  background: rgba(0, 0, 0, 0.651);
  padding: 1em;
  border-radius: 0.7em;
}
.contact-section {
  padding: 50px 10vw;
}
.contact-form {
  margin: 10px;
  margin-top: 100px;
  position: relative;
}
.contact-form input,
.message {
  width: 100%;
  display: block;
  height: 50px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #fff !important;
  background: #000;
  color: #fff;
  border: none;
  outline: 0;
  margin: 30px 0;
  text-transform: capitalize;
  resize: none;
}
.message {
  height: 200px;
  border: 1px solid #fff;
}
.contact-form .name {
  display: flex;
  justify-content: space-between;
}
.name input {
  width: 49%;
  margin: 0;
}
.email {
  text-transform: lowercase !important;
}
.contact-form .btn {
  display: block;
  margin: auto;
  cursor: pointer;
}
.contact-btn {
  width: fit-content !important;
  background-color: #3d0005 !important;
}
.footer {
  width: 100%;
  height: 100px;
  text-transform: capitalize;
  text-align: center;
  background-color: #000;
  line-height: 30px;
  color: #e5e5e5;
  font-size: xx-small;
}
footer > p {
  font-size: xx-small;
}
::-webkit-scrollbar {
  width: 7px;
  height: 20px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #1a0004, #000);
  border-radius: 50px;
}
::-webkit-scrollbar-track {
  background-color: #1d1d1d;
}
@media (max-width: 768px) {
  #menuToggle {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 2;
    -webkit-user-select: none;
    user-select: none;
  }
  #menuToggle a {
    text-decoration: none;
    color: #d19b9b;
    transition: color 0.3s ease;
  }
  #menuToggle a:hover {
    color: #fff;
    transform: scale(2);
  }
  #menuToggle input {
    display: block;
    width: 33px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 4;
    -webkit-touch-callout: none;
  }
  #menuToggle > span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #e5e5e5;
    border-radius: 3px;
    z-index: 2;
    transform-origin: 4px 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  #menuToggle span:first-child {
    transform-origin: 0 0;
  }
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0 100%;
  }
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #ff3b3f;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  #menu {
    top: 15px;
    position: absolute;
    width: 300px;
    margin: 0 0 0 -240px;
    padding: 50px;
    padding-top: 75px;
    height: 160vh;
    background: var(--bg);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform-origin: 0 0;
    transform: translate(160%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menu-item {
    padding: 5px 0;
    font-size: 22px;
  }
  #menu span {
    width: 80%;
    padding: 10px;
    color: #d1d1d1;
    text-transform: uppercase;
    font-size: 20px;
    text-align: left;
  }
  .page-section {
    margin-top: 60px;
    padding: 60px 1vw;
  }
  .page-section h1 {
    font-size: 4rem;
  }
  .heading {
    font-size: 3rem;
  }
  .home-image {
    height: 20em;
    width: 20em;
  }
  .info p {
    font-size: x-large;
    margin: 0 20px;
  }
  .about {
    padding: 50px 1vw;
  }
  .right-col {
    padding: 0 5vw;
    border-radius: 20px;
    height: max-content;
    margin-top: -600px;
    background-color: rgb(0, 0, 0, 0.5);
  }
  .about-para {
    text-align: center;
    vertical-align: middle;
    padding: 80px 0;
    margin: 0;
    color: #fff;
  }
  .about-me-container {
    margin-top: 200px 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .project-container {
    width: max-content;
    display: flex;
    flex-direction: column;
  }
  .skill {
    filter: none;
  }
  .skills {
    grid-template-columns: 100%;
  }
  .skill {
    flex-direction: row;
    width: inherit;
  }
  .project-container {
    width: max-content;
    display: flex;
    flex-direction: column;
  }
  .project-card {
    min-width: 275px;
    width: 85vw;
  }

  .project-card:not(:first-child) {
    margin-top: var(--distance);
  }

  .project-card:hover ~ .project-card,
  .project-card:focus-within ~ .project-card {
    transform: translateY(calc((var(--distance)) * -1));
  }
  .name {
    flex-direction: column;
    width: 100%;
  }
  .name input {
    width: 100%;
  }
}
